// Palette
$_baliHai: #8590ac;
$_cadetBlue: #a8b0c3;
$_casal: #26696c;
$_cornflowerBlue: #9ab5b7;
$_gullGray: #9ab5b7;
$_juniper: #73999b;
$_kashmirBlue: #4d5f8a;
$_surf: #b6d8b8;
$_white: #ffffff;

// Usage
$button: $_cadetBlue;
$carousel-action: $_juniper;
$carousel-inactive: $_cornflowerBlue;
$nav-background: $_surf;
$nav-color: $_white;
$subtitle: $_baliHai;
$title: $_kashmirBlue;
